body{
    font-family: 'Dancing Script', cursive;
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Satisfy', cursive;
    font-family: 'Ubuntu', sans-serif;
 
}
.container{
    background-color: white;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:black;
    color:white;
    border-radius: 20px;
    margin:50px;
}
.content{
       margin:100px 50px 0 50px ;
}
.content h1{
    animation:text 2s 1; 
     height:100px;
    
}
@keyframes text {
    0% {
        letter-spacing: 0px;
         }
    30% {
        letter-spacing: 5px;
         }
    85% {
        letter-spacing: 3px;
         }
    100% {
        letter-spacing: 1px;
         }
    
        }
.content{
    padding-right: 50px;
}
.content p{
    color: rgb(113, 123, 150);
    
}
.watch_live{
    background-color:rgb(190, 23, 23);
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}
.side_bar{
    height:160px;
    width:180px;
     background-color: black; 
    border-radius: 8px;
    padding:20px;
    margin-top: 20px; 
    
}


.side-bar-button {
    display: block;
    padding: 10px 10px;
    width:130px;
    border-radius: 8px;
    margin: 10px;
    border:1px solid black;
    background-color: white;
    color:black;
    
     
}
.side-bar-button {
    text-decoration: none;
    

}
 .side-bar-button:focus {     
    background-color:rgb(190, 23, 23);
    color:white;
}  
.fa-message{
    margin-left: 20px;  
}
.icon{
    color:gray;
}
.blogs{
    display:grid;
    grid-template-columns: repeat(3 , 1fr);
    gap:20px;
    margin-top: 20px;
}
main{
    display: flex;
    gap: 20px;
    margin:50px;
    
}
img{
    width:100%;
}
footer{
    text-align: center;
    color:white;
    background-color: black;
    padding:100px;
}
hr{
    margin:50px 0;
}
.footer_link{
    display: flex;
    justify-content: center;
}

.F_link{
    margin:20px;
    font-size: 12px;
}

/*---- for mobile screen----*/

@media only screen and (max-width: 600px) {
    header h1{
        margin-bottom: 100px;
    }
    header{
        display: grid;
        grid-template-columns: 1fr;
    }
    .mobile_header{
        display: none;
    }
    main{
        display: grid;
    }
    .side_bar{
        background-color: #fff;
    }
    .side-bar-button{
    
        text-align: center;
    }
    .blogs{
        display:grid;
        grid-template-columns:  1fr;
        gap:20px;
        margin-top: 20px;
    }
   
    .footer_link{
        display: grid;

    }
    img{
        width:80%;
        margin-top: 20px;
    }
    
  }

/*-------------- for tablet screen -----------------------*/


@media screen and (min-width: 688px)and (max-width:992px){
    header h1{
        margin-bottom: 60px;
    }
     header{
        margin-right: 0;
        padding-right: 50px;
    } 
    .content{
        margin:20px;
    }

    main {
      display:grid;
      padding:0;
    }
    .blogs{
        display:grid;
        grid-template-columns: repeat(2 , 1fr);
        gap:20px;
        margin-top: 20px;
    }
    .side_bar{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: #fff;
        width: 100%;
        
    }
    .side-bar-button {
        height:20px;
        padding:20px 3vw ;
        font-size: 17px;
        
       

    }
    .footer_link{
        display: flex;
        flex-wrap: wrap;
     
    }

    /*-------------------------for mobile screen------------------- */


    